<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="template:: head">
    <meta charset="UTF-8">
    <title>Product List</title>
</head>
<body>
<header th:replace="template :: navigator"></header>

<main role="main" class="container">
    <div class="container aligned-margines">
        <div class="row container window aligned-margines">
            <div class="row col-12">
                <h2 class="table-head-title">Supplier list:</h2>
            </div>
            <div class="row col-12 table-header aligned-margines">
                <div class="col-1">Id</div>
                <div class="col-2">Name:</div>
                <div class="col-2">Owner:</div>
                <div class="col-3">Reserved</div>
                <div class="col-4">Actions</div>
            </div>
            <div class="row col-12 colored aligned-margines" th:each="supplier : ${supplierList}"
                 th:if="${admin || !supplier.isAwaitingApproval()}">
                <div class="col-1" th:text="${supplier.getId()}"></div>
                <div class="col-2" th:text="${supplier.getName()}"></div>
                <div class="col-2" th:text="${supplier.getCreator().getUsername()}"></div>
                <div class="col-3"></div>
                <div class="col-4 row">
                    <div class="col-3">
                        <div class="col-3">
                            <a class="link" th:if="${admin || supplier.getCreator().getId() == currentUser.getId()}"
                               th:href="@{'/supplier/edit/' + ${supplier.getId()}}" th:text="#{ctrl.edit}"></a>
                        </div>
                    </div>
                    <div class="col-3">
                        <a class="link" th:if="${admin || supplier.getCreator().getId() == currentUser.getId()}"
                           th:href="@{'/supplier/remove/' + ${supplier.getId()}}" th:text="#{ctrl.remove}"></a>
                    </div>
                    <div class="col-3">
                        <a class="link" th:href="@{'/supplier/details/' + ${supplier.getId()}}" th:text="#{ctrl.details}"></a>
                    </div>
                    <div class="col-3">
                        <a class="link" th:if="${admin && supplier.isAwaitingApproval()}"
                           th:href="@{'/supplier/approve/' + ${supplier.getId()}}" th:text="#{ctrl.approve}"></a>
                    </div>
                </div>
            </div>
            <div class="row col-12 colored aligned-margines redish" th:if="${supplierList.size() == 0}">
                <div class="col-12" th:text="#{no_elements}">
                </div>
            </div>
            <div class="offset-10 col-2 paddingless">
                <a class="button" th:href="@{/supplier/add}" th:text="#{ctrl.create}"></a>
            </div>
        </div>
    </div>
</main>

<footer th:replace="template :: foot">
</footer>
<div th:replace="template :: scripts">
</div>
</body>
</html>