<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="template:: head">
    <meta charset="UTF-8">
    <title>Product List</title>
</head>
<body>
<header th:replace="template :: navigator"></header>

<main role="main" class="container">
    <div class="container aligned-margines">
        <div class="row container window aligned-margines">
            <div class="row col-12">
                <h2 class="table-head-title">Product list:</h2>
            </div>
            <div class="row col-12 table-header aligned-margines">
                <div class="col-2">Id</div>
                <div class="col-3">Name:</div>
                <div class="col-3">Owner:</div>
                <div class="col-4">Actions</div>
            </div>
            <div class="row col-12 colored aligned-margines" th:each="product : ${productList}">
                <div class="col-2" th:text="${product.getId()}">
                </div>
                <div class="col-3" th:text="${product.getName()}">
                </div>
                <div class="col-3" th:text="${product.getCreator().getUsername()}">
                </div>
                <div class="col-4 row">
                    <div class="col-3">
                        <div class="col-3">
                            <a class="link" th:if="${admin || product.getCreator().getId() == currentUser.getId()}"
                               th:href="@{'/product/edit/' + ${product.getId()}}" th:text="#{ctrl.edit}"></a>
                        </div>
                    </div>
                    <div class="col-3">
                        <a class="link" th:if="${admin || product.getCreator().getId() == currentUser.getId()}"
                           th:href="@{'/product/remove/' + ${product.getId()}}" th:text="#{ctrl.remove}"></a>
                    </div>
                    <div class="col-3">
                        <a class="link" th:href="@{'/product/details/' + ${product.getId()}}" th:text="#{ctrl.details}"></a>
                    </div>
                    <div class="col-3">
                        <a class="link" th:if="${admin && product.isAwaitingApproval()}"
                           th:href="@{'/product/approve/' + ${product.getId()}}" th:text="#{ctrl.approve}"></a>
                    </div>
                </div>
            </div>
            <div class="row col-12 colored aligned-margines redish" th:if="${productList.size() == 0}">
                <div class="col-12" th:text="#{no_elements}">
                </div>
            </div>
            <div class="offset-10 col-2 paddingless">
                <a class="button w-100" th:href="@{/product/add}" th:text="#{ctrl.create}"></a>
            </div>
        </div>
    </div>
</main>

<footer th:replace="template :: foot">
</footer>
<div th:replace="template :: scripts">
</div>
</body>
</html>