<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="template:: head">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<header th:replace="template :: navigator"></header>

<main role="main" class="container">
    <div class="row container window aligned-margines">
        <form class="container col-md-12" th:action="@{/product/add}" method="post" th:object="${productForm}">
            <div class="row">
                <h3 class="table-head-title">Add new product:</h3>
            </div>
            <div class="row">
                <div class="offset-md-1 col-md-5 middled">
                    <label for="productName">Product Name:</label>
                </div>
                <div class="col-md-5 middled">
                    <input class="form-control roundless" type="text" id="productName"
                           th:field="*{name}">
                </div>
            </div>
            <div class="row">
                <div class="offset-md-1 col-md-5 middled">
                    <label for="url">Url address:</label>
                </div>
                <div class="col-md-5 middled">
                    <input class="form-control roundless" type="text" id="url"
                           th:field="*{url}">
                </div>
            </div>

            <div class="row">
                <div class="offset-md-1 col-md-5 middledd">
                    <label for="shop">Shop:</label>
                </div>
                <div class="col-md-5 middled">
                    <select id="shop" th:field="*{supplierId}" class="form-control roundless">
                        <option class="form-control roundless" th:each="shop : ${suppliers}" th:value="${shop.id}"
                                th:text="${shop.name}"></option>
                    </select>
                </div>
            </div>

            <!--<div class="row">-->
                <!--<div class="offset-md-1 col-md-5 middledd">-->
                    <!--<label for="unit">Unit:</label>-->
                <!--</div>-->
                <!--<div class="col-md-5 middled">-->
                    <!--<select id="unit" th:field="*{unitId}" class="form-control roundless">-->
                        <!--<option class="form-control roundless" th:each="unit: ${units}" th:value="${unit.id}"-->
                                <!--th:text="${unit.name}"></option>-->
                    <!--</select>-->
                <!--</div>-->
            <!--</div>-->
            <div class="row">
                <div class="offset-md-10 col-md-2 middled">
                    <input class="form-control w-100 button roundless" type="submit" value="Add Product">
                </div>
            </div>
        </form>
    </div>
</main>

<footer th:replace="template :: foot">
</footer>
<div th:replace="template :: scripts">
</div>
</body>
</html>
