<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="template:: head">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<header th:replace="template :: navigator"></header>

<main role="main" class="container">
    <div class="row container window aligned-margines">
        <form class="container col-md-12" th:action="@{/request/add/}" method="post" th:object="${requestForm}">
            <div class="row">
                <h3 class="table-head-title">Add new product request:</h3>
            </div>
            <input th:field="*{orderId}" hidden>
            <div class="row">
                <div class="offset-md-1 col-md-5 middledd">
                    <label for="shop">Shop:</label>
                </div>
                <div class="col-md-5 middled">
                    <select id="shop" th:field="*{productId}" class="form-control roundless">
                        <option class="form-control roundless" th:each="product : ${products}" th:value="${product.id}"
                                th:text="${product.getName() + ' - ' + product.getSuppliers()}"></option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="offset-md-1 col-md-5 middled">
                    <label for="quantity">Quantity:</label>
                </div>
                <div class="col-md-2 middled">
                    <input class="form-control roundless" type="text" id="quantity"
                           th:field="*{quantity}">
                </div>
                <div class="col-md-3 middled">
                    <select id="unit" th:field="*{unitId}" class="form-control roundless">
                        <option class="form-control roundless" th:each="unit: ${units}" th:value="${unit.id}"
                                th:text="${unit.name}"></option>
                    </select>
                </div>
            </div>

            <div class="row">
                <div class="offset-md-1 col-md-5 middled">
                    <label for="description">Additional description(optional):</label>
                </div>
                <div class="col-md-5 middled">
                    <textarea class="form-control roundless" type="text" id="description"
                           th:field="*{description}"/>
                </div>
            </div>

            <div class="row">
                <div class="offset-md-1 col-md-5 middled">
                    <label for="url">Alternative address (optional):</label>
                </div>
                <div class="col-md-5 middled">
                    <input class="form-control roundless" type="text" id="url"
                           th:field="*{alternativeUrl}">
                </div>
            </div>

            <div class="row">
                <div class="offset-md-10 col-md-2 middled">
                    <input class="form-control w-100 button roundless" type="submit" value="Add request">
                </div>
            </div>
        </form>
    </div>
</main>

<footer th:replace="template :: foot">
</footer>
<div th:replace="template :: scripts">
</div>
</body>
</html>
