<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="template:: head">
    <meta charset="UTF-8">
    <title>Order list</title>
</head>
<body>
<header th:replace="template :: navigator"></header>

<main role="main" class="container">
    <div class="container aligned-margines">
        <div class="row container window aligned-margines">
            <div class="row col-12">
                <h2 class="table-head-title">Order list:</h2>
            </div>
            <div class="row col-12 table-header aligned-margines">
                <div class="col-1">Id</div>
                <div class="col-2">Name:</div>
                <div class="col-2">Owner:</div>
                <div class="col-3">Reserved:</div>
                <div class="col-4">Actions</div>
            </div>
            <div class="row col-12 colored aligned-margines" th:each="orderlst : ${orderLists}">
                <div class="col-1" th:text="${orderlst.getId()}"></div>
                <div class="col-2" th:text="${orderlst.getName()}"></div>
                <div class="col-2" th:text="${orderlst.getCreator().getUsername()}"></div>
                <div class="col-3">Reserved:</div>
                <div class="col-4 row">
                    <div class="col-3">
                        <div class="col-3">
                            <a class="link" th:if="${admin || orderlst.getCreator().getId() == currentUser.getId()}"
                               th:href="@{'/order/edit/' + ${orderlst.getId()}}" th:text="#{ctrl.edit}"></a>
                        </div>
                    </div>
                    <div class="col-3">
                        <a class="link" th:if="${admin || orderlst.getCreator().getId() == currentUser.getId()}"
                           th:href="@{'/order/remove/' + ${orderlst.getId()}}" th:text="#{ctrl.remove}"></a>
                    </div>
                    <div class="col-3">
                        <a class="link" th:href="@{'/order/details/' + ${orderlst.getId()}}" th:text="#{ctrl.details}"></a>
                    </div>
                </div>
            </div>
            <div class="row col-12 colored aligned-margines redish" th:if="${orderLists.size() == 0}">
                <div class="col-12" th:text="#{no_elements}">
                </div>
            </div>
            <div class="row col-12 w-100 separator-row aligned-margines">
                <hr>
            </div>
            <div class="row col-12 aligned-margines" th:if="${allow_new_lists}">
                <form class="container col-12 aligned-margines" th:action="@{/order/add}" method="post" th:object="${orderForm}">
                    <div class="row">
                        <h3 class="table-head-title" th:text="#{add.order.head}"></h3>
                    </div>
                    <div class="row">
                        <div class="col-2 middled">
                            <label for="orderListName" th:text="#{add.order.name}"></label>
                        </div>
                        <div class="offset-1 col-6 middled">
                            <input class="form-control roundless" type="text" id="orderListName"
                                   th:field="*{orderListName}">
                        </div>
                        <div class="offset-1 col-2 middled">
                            <input class="form-control roundless button" type="submit" th:value="#{ctrl.create}">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</main>

<footer th:replace="template :: foot">
</footer>
<div th:replace="template :: scripts">
</div>
</body>
</html>