<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="template:: head">
    <meta charset="UTF-8">
    <title>Order list</title>
</head>
<body>
<header th:replace="template :: navigator"></header>

<main role="main" class="container">
    <div class="container aligned-margines">
        <div class="row container window aligned-margines">
            <div class="row col-12">
                <h2 class="table-head-title">Order list details:</h2>
            </div>
            <div class="row col-12 w-100" th:object="${detailed_order_list}">
                <div class="col-3 separate-left">
                    <div class="row">
                        <div class="col-5">Name</div>
                        <div class="col-7" th:text="*{getName()}"></div>
                    </div>
                    <div class="row">
                        <div class="col-5">Created:</div>
                        <div class="col-7" th:text="*{getCreationTime()}"></div>
                    </div>
                    <div class="row">
                        <div class="col-5">Created by:</div>
                        <div class="col-7" th:text="*{getCreator().getUsername()}"></div>
                    </div>
                    <div class="row">
                        <div class="col-5">Archived:</div>
                        <div class="col-7" th:text="*{isArchived()}"></div>
                    </div>
                </div>
                <div class="col-9 separate-right">
                    <div class="row col-12 table-header aligned-margines">
                        <!--<div class="col-1">Id</div>-->
                        <div class="col-2">Product name:</div>
                        <div class="col-1">Quantity:</div>
                        <div class="col-1">Unit:</div>
                        <div class="col-2">Owner:</div>
                        <div class="col-3">Link:</div>
                        <div class="col-2">Actions</div>
                    </div>
                    <div class="row col-12 colored aligned-margines" th:each="order : ${orders}">
                        <!--<div class="col-1" th:text="${order.getId()}"></div>-->
                        <div class="col-3" th:text="${order.getProduct().getName()}"></div>
                        <div class="col-1" th:text="${order.getQuantity()}"></div>
                        <div class="col-1" th:text="${order.getUnit().getName()}"></div>
                        <div class="col-2" th:text="${order.getOwner().getUsername()}"></div>
                        <div class="col-3">
                            <a th:if="${order.getProduct().getUrl() != null && !order.getProduct().getUrl().isEmpty()}"
                               th:href="@{${order.getProduct().getUrl()}}">Link</a>

                            <a th:if="${order.getAlternativeUrl() != null && !order.getAlternativeUrl().isEmpty()}"
                               th:href="@{${order.getAlternativeUrl()}}">Alternative Link</a>
                        </div>
                        <div class="col-2 row">
                            <div class="col-3">
                                <a class="link" th:if="${admin || order.getOwner().getId() == currentUser.getId()}"
                                   th:href="@{'/order/remove/' + ${order.getId()}}" th:text="#{ctrl.remove}"></a>
                            </div>
                        </div>
                    </div>
                    <div class="row col-12 colored aligned-margines redish" th:if="${orders.size() == 0}">
                        <div class="col-12" th:text="#{no_elements}">
                        </div>
                    </div>
                </div>
                <div class="offset-10 col-2 paddingless">
                    <a class="button w-100" th:href="@{'/request/add/' + ${detailed_order_list.getId()}}" th:text="#{ctrl.create}"></a>
                </div>
            </div>
        </div>
    </div>
</main>

<footer th:replace="template :: foot">
</footer>
<div th:replace="template :: scripts">
</div>
</body>
</html>