<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="template:: head">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<header th:replace="template :: navigator"></header>

<main role="main" class="container">
    <div class="container aligned-margines">
        <div class="row container window aligned-margines">
            <h2 class="table-head-title">User Form</h2>
            <form class="listing-container container" th:action="@{/admin/employee/add}" method="post"
                  th:object="${employee}">
                <div class="row">
                    <div class="col-6">
                        <label for="username">
                            Username:
                        </label>
                    </div>
                    <div class="col-6">
                        <input class="form-control" id="username" th:field="*{username}" th:value="*{username}"/>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <label for="name">
                            Name:
                        </label>
                    </div>
                    <div class="col-6">
                        <input class="form-control" id="name" th:field="*{name}" th:value="*{name}"/>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <label for="surname">
                            Surname:
                        </label>
                    </div>
                    <div class="col-6">
                        <input class="form-control" id="surname" th:field="*{surname}"/>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <label for="email">
                            Email:
                        </label>
                    </div>
                    <div class="col-6">
                        <input class="form-control" id="email" th:field="*{email}"/>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <label for="password">
                            Password:
                        </label>
                    </div>
                    <div class="col-6">
                        <input class="form-control" id="password" type="password" th:field="*{password}"
                               th:value="*{password}"/>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <label for="passwordConfirm">
                            Confirm Password:
                        </label>
                    </div>
                    <div class="col-6">
                        <input class="form-control" type="password" id="passwordConfirm" th:field="*{passwordConfirm}"/>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <label for="roles">
                            Roles:
                        </label>
                    </div>
                    <div class="col-6 row" id="roles">
                        <div class="col-4">
                            <label class="container-checkbox">
                                <input type="checkbox" class="form-control" th:field="*{roles.role_office}"
                                       th:value="*{roles.role_office_id}" th:text="*{roles.role_office_name}">
                                <span class="checkmark"></span>
                            </label>
                        </div>

                        <div class="col-4">
                            <label class="container-checkbox">
                                <input type="checkbox" class="form-control" th:field="*{roles.role_proto}"
                                       th:value="*{roles.role_proto_id}" th:text="*{roles.role_proto_name}">
                                <span class="checkmark"></span>
                            </label>
                        </div>

                        <div class="col-4">
                            <label class="container-checkbox">
                                <input type="checkbox" class="form-control" th:field="*{roles.role_admin}"
                                       th:value="*{roles.role_admin_id}" th:text="*{roles.role_admin_name}">
                                <span class="checkmark"></span>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="offset-6 col-6">
                        <input class="form-control button" type="submit" value="Add">
                    </div>
                </div>
            </form>
        </div>
    </div>
</main>

<footer th:replace="template :: foot">
</footer>
<div th:replace="template :: scripts">
</div>
</body>
</html>