<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="template:: head">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<header th:replace="template :: navigator"></header>

<main role="main" class="container">
    <div class="container aligned-margines">
        <div class="row container window aligned-margines">
            <h2 class="table-head-title">User List</h2>
            <div class="listing-container container">
                <div class="row table-header">
                    <div class="col-1">Id</div> <!--id-->
                    <div class="col-2">Name</div>
                    <div class="col-2">Surname</div>
                    <div class="col-2">Username</div>
                    <div class="col-3">Email</div>
                    <div class="col-2">Actions</div>
                </div>
                <div class="row colored" th:each=" user : ${employeeList}">
                    <div class="col-1" th:text="${user.id}"></div> <!--id-->
                    <div class="col-2" th:text="${user.name}"></div>
                    <div class="col-2" th:text="${user.surname}"></div>
                    <div class="col-2" th:text="${user.username}"></div>
                    <div class="col-3" th:text="${user.email}"></div>
                    <div class="col-2"></div>
                </div>
            </div>

            <div class="offset-md-10 col-md-2 paddingless">
                <a class="button w-100" th:href="@{/admin/employee/add}">Add New</a>
            </div>
        </div>
    </div>
</main>

<footer th:replace="template :: foot">
</footer>
<div th:replace="template :: scripts">
</div>
</body>
</html>