/* Sticky footer styles
-------------------------------------------------- */


html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    background-color: #f4f4f4;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 45px;
    line-height: 45px; /* Vertically center the text there */
    background-color: #f5f5f5;
    border-top: 1px solid #555555;
}
textarea{
    margin-bottom: 6px;
}
.container {
    max-width: 1600px !important;
}

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
    padding: 84px 15px 0;
}

.footer > .container {
    padding-right: 15px;
    padding-left: 15px;
}

code {
    font-size: 80%;
}

.table-header {
    color: whitesmoke;
    background-color: #74006f;
}

.colored:nth-child(odd) {
    color: black ;
    background-color: #feffac;
}

.colored:nth-child(odd):hover {
    color: black ;
    background-color: #e9eaa1;
}

.colored:nth-child(even) {
    color: black;
    background-color: #9affa3;

}

.colored:nth-child(even):hover {
    color: black;
    background-color: #8dea96;

}

.window {
    background-color: #e4e4e4;
    margin-top: 10px;
    margin-bottom: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.roundless {
    border-radius: 0 !important;
}

.middled {
    vertical-align: middle;
}

.aligned-margines {
    margin-left: 0px;
    margin-right: 0px;
}

.warning-nav {
    background-color: #ff0000;
    text-align: center;
    position: fixed !important;
    right: 0;
    left: 0;
    top: 56px;
    z-index: 1030;
}

.message-nav {
    background-color: #005d0b;
    position: fixed !important;
    color: #ffffff;
    text-align: center;
    right: 0;
    left: 0;
    top: 56px;
    z-index: 1030;
}

.link {
    color: #ff0000;
}

.link:hover{
    color: #000;
}

.button {
    background-color: #74006f;
    border: none;
    color: white;
    padding: 7px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    width: 100% !important;
    border-radius: 0 !important;
}

.paddingless{
    padding: 0px;
}

.button:hover {
    background-color: #5f005a;
    border: none;
    color: white;
    padding: 7px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    width: 100% !important;
    border-radius: 0 !important;
}

#hideMe {
    -moz-animation: cssAnimation 0s ease-in 5s forwards;
    /* Firefox */
    -webkit-animation: cssAnimation 0s ease-in 5s forwards;
    /* Safari and Chrome */
    -o-animation: cssAnimation 0s ease-in 5s forwards;
    /* Opera */
    animation: cssAnimation 0s ease-in 5s forwards;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

@keyframes cssAnimation {
    to {
        width:0;
        height:0;
        overflow:hidden;
    }
}

@-webkit-keyframes cssAnimation {
    to {
        width:0;
        height:0;
        visibility:hidden;
    }
}

input {
    text-align: center;
    border-radius: 0 !important;
}

label{
    text-align:center;
    vertical-align:middle;
    display:table-cell;
    padding: 10px 0px;
}

.separate-left{
    border-right: 1px #555555 solid;
}

.separate-right{
    border-left: 1px #555555 solid;
}

.table-head-title{
    padding: 10px;
}

.costam{
    color: #ff0000;
}

.separator-row{
    border-bottom: 1px solid #333333;
}

.redish{
    text-align:center;
    vertical-align:middle;
    padding: 3px 3px;
    background-color: #ff9c41 !important;
}
.redish:hover{
    text-align:center;
    vertical-align:middle;
    padding: 3px 3px;
    background-color: #ea8e3c !important;
}

/* The container-checkbox */
.container-checkbox {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.container-checkbox input {
    position: absolute;
    padding: 10px 0px;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    left: 0;
    padding: 10px 0px;
    height: 33px;
    width: 33px;
    background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container-checkbox:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container-checkbox input:checked ~ .checkmark {
    background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.container-checkbox input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.container-checkbox .checkmark:after {
    left: 14px;
    top: 10px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}