<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="template:: head">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<header th:replace="template :: navigator"></header>

<main role="main" class="container">
    <h1 class="mt-5">Ordering application</h1>

    <div class="row col-12">
        <form class="row col-12" th:action="@{/test/form}" method="post" th:object="${task}">
            <div class="row col-12" th:text="*{jakisTekst}"></div>
            <div class="row col-12" th:each="taskInfo,iter : *{elementDtoList}">
                <input type="text" th:field="*{elementDtoList[__${iter.index}__].id}" hidden>
                <input class="form-control row col-12" type="checkbox"
                       th:text="*{elementDtoList[__${iter.index}__].text}"
                       th:field="*{elementDtoList[__${iter.index}__].checked}">
                </input>
            </div>

            <input class="form-control" type="submit">
        </form>
    </div>
</main>

<footer th:replace="template :: foot">
</footer>
<div th:replace="template :: scripts">
</div>
</body>
</html>